
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="/css/bootstrap.min.css">
 <title>artworks</title>
</head>
<body class="bg-info">
<p>Design & Developed By Rajesh Sharma, <ion-icon name="logo-linkedin"> @rajesh-sharma75</p>  
   <!-- artworks -->
   <section> 
         <div class="container"> 
            <div class="row">
               <div class="col-10 mt-5 mx-auto">
                  <h1 class="text-center fw-bold"> Artworks</h1>
               </div>
            </div>


            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <% for (let key in artworkList[0]) { %>
                            <th><%= key %></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody  id="table-body">

                    <% artworkList.forEach(obj => { %>
                        <tr>
                          <% for (let key in obj) { %>
                            <td><%= obj[key] %></td>
                          <% } %>
                        </tr>
                      <% }); %>
                                            
                </tbody>
            </table>
         </div>
   </section>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>   
<script src="/js/bootstrap.min.js" type="text/javascript" ></script>
<script src="/js/jquery_min.js" type="text/javascript" ></script>

<!-- Data Table JS -->
<script src='https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/responsive/2.1.0/js/dataTables.responsive.min.js'></script>
<script src='https://cdn.datatables.net/1.13.5/js/dataTables.bootstrap5.min.js'></script>

<script>
    /*datatable initialization*/
    $(document).ready(function() {
    $('#example').DataTable({
      "columnDefs": [
        { "orderable": false, "targets": 5 }
      ],
      language: {
        'paginate': {
          'previous': '<ion-icon name="chevron-back-sharp"></ion-icon>',
          'next': '<ion-icon name="chevron-forward-sharp"></ion-icon>'
        },
        // no of elements to be display
        "lengthMenu": 'Display <select class="form-control input-sm">'+
        '<option value="10">10</option>'+
        '<option value="20">20</option>'+
        '<option value="30">30</option>'+
        '<option value="40">40</option>'+
        '<option value="50">50</option>'+
        '<option value="-1">All</option>'+
        '</select> results'
      }
    })  
} );
</script>

</body>
</html>
